
<!DOCTYPE html>
<html>
  <head> <!--Shiboleth  21:31 21/12 https fixed-->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
    #form{
      margin-top: 100px;
      text-align: center;

    }
    </style>
    <title>{{redirect}}</title>
  </head>
  <body>


    <div id='form'>
      <div>
        <span class="glyphicon glyphicon-eye-open"></span> IMGS</a>
      </div>
      <div>
        <a href="https://server.local/" class="btn btn-primary btn-lg active home" role="button" aria-pressed="true">Sign in</a>
      </div>
    </div>

    <script type="text/javascript">
  

      localStorage.removeItem('THRDPRTY');


    </script>
  </body >

</html>
