
<!DOCTYPE html>
<html>
  <head> <!--Shiboleth  21:31 21/12 https fixed-->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style>
    #form{
      margin-top: 100px;
      text-align: center;

    }
    </style>
    <title>Print Server</title>
  </head>
  <body>


    <div id='form'>
      <div>
        <span class="glyphicon glyphicon-eye-open"></span> IMGS</a>
      </div>
	<div><h3>Print Server</h3> </div>
      <div>
        <a href="https://server.local/" class="btn btn-primary btn-lg active home" role="button" aria-pressed="true">Sign in</a>
      </div>
    </div>


    <script type="text/javascript">

      const authServer = "https://server.local/"; //authntication server address
      const imgServer = "https://imgserver/"; //image server address
      const printServer = "https://printserver/";
	
			
	if(localStorage.getItem('THRDPRTY')!==null)
        	window.location.href = printServer+'gallery/'+localStorage.getItem('THRDPRTY');
		
	window.onmessage = function(msg){
        console.log("Printserver Received Message");
	console.log(msg.origin);
	
	if(!msg.origin.startsWith("https://imgserver")){
        	console.log("Unrecognised Host Attempting to pass JWT Token");
          	return;
        	}

        console.log("Host OK, parsing token.");
        var data = JSON.parse(msg.data);
        console.log("Received 3rd Party Token:" + data.thrdPrtyAuth);
        localStorage.setItem('THRDPRTY',data.thrdPrtyAuth);

      }
	
	console.log(localStorage.getItem('THRDPRTY'));

      	
	

    </script>
  </body >

</html>
